<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148311549003-4jr9a1op6lq5j5dmpffcgdiqjhcovc44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148311549003-4jr9a1op6lq5j5dmpffcgdiqjhcovc44</string>
	<key>API_KEY</key>
	<string>AIzaSyAPoUv_RWsE_xT1ynOh5mt3gq7mSrWXt1k</string>
	<key>GCM_SENDER_ID</key>
	<string>148311549003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>piszczdamian.TwitterP</string>
	<key>PROJECT_ID</key>
	<string>twitterp-bd82c</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterp-bd82c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148311549003:ios:7ad7cc60e5d6e34b4f99ce</string>
</dict>
</plist>